* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}	
.casilla {
	width: 142px;
	height: 142px;
	position: relative;
	display: block;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	border: 1px solid black;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center; 
	margin: 2% auto;
}
.estilo {
	width: 14px;
	height: 14px;
	background: yellow;
	position: absolute;
}
.estiloBtn {
	/*display: block;
	margin: 2% auto;*/
	padding: 3px 10px;
}
.flex-container {
	display: flex;
	height: 80px;
	align-items: center;
	justify-content: center;
	background-color: DodgerBlue;
}
.flex-container > * {
	text-align: center;
	margin: 10px;
}